**/ble-spec/
**/ant-spec/
**/fit-spec/
**/dist/
**/node_modules/
**/gists/
/src/simulation-scripts.js
notes.txt
env.js

**/.DS_Store
**/:w
**/2
**/3
.cache
.vercel
package-lock.json

.env
.env.local
.env.local.js
.env.development
.env.production

